/* Recent news part */
.recent-news-container{
    display: flex;
    box-shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.satelite-img{
    padding: 48px;
    height: 300px;
    width:400px ;
  
    
}
img{
    border:1px solid rgba(0, 0, 0, 0);
    border-radius: 24px;
}
.recent-news-content{
    padding: 50px 45px 10px,45px;
}
.recent-news-time{
    display: flex;
    margin: 2px;
}
.donate-main-sec{
    margin: auto;
    border: 1px solid #FFFFFF;
    box-shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 32px;
    width: 1200px;
    height: 340px; 
}
.other-tk{
   
    justify-content: center;
    padding:20px 400px ;
    color: rgba(14, 14, 14, 0.3);
    font-size: 20px;
    font-weight: normal;
    border: 1px solid rgba(0, 0, 0, 0.062);
    border-radius:16px ;
    box-shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin:32px 124px ;
}
.button-for-done{
    justify-content: center;
    margin:30px 440px ;
   


}
.donate-now{
    width:1100px ;
    height: 395px;
    margin:80px 160px ;

}
/* subscribe newsletter */
.Subscribe-newsletter{
    display: flex;
    justify-content: center;
}
.subscribe-contents{
    display: flex;
    justify-content: center;
    padding: 80px,265px;
}
.subscribe-email{
    display: inline;
    justify-content: center;
    margin-left: 265px;
    background-color:rgba(255, 255, 255, 1) ;
    padding: 17px 34px;
    

}
.subscribe-button2{
    display: inline;
    justify-content: center;
    margin-left:0;
    margin-right:265px ;
    background-color: rgba(0, 106, 80, 1);
    padding: 17px 34px;
    border-radius:0px 17px 17px 0px ;
}
.sectionemail{
    margin:80px 180px ;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius:16px ;
    box-shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding-left: 265px;
    padding-top: 24px;
    padding-bottom: 24px;
  
    background-color:#C6E4D6 ;
}
.spam{
    justify-content: center;
    margin: 24px 330px 80px 330px;
}